

#myBoxDiv {
	background-color: purple;
	width: 300px;
	height: 100px;
	display: block;
	font-size: 3em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#colorBoxes {
	width: 680px;
	height: 100px;
	margin: auto;
	margin-top: 200px;
}

#colorBoxes div {
	float: left;
	width: 150px;
	text-align: center;
	margin: 0 10px;
}

#greenDiv {
	background-color: green;
	color: white;
}
#blueDiv {
	background-color: blue;
	color: white;
}
#redDiv {
	background-color: red;
}
#orangeDiv {
	background-color: orange;
}


.attribute {
	font-size:2em;
}

.arrowUp {
	display: inline;
	height: 20px;
}

.arrowDown {
	display: inline;
	height: 20px;
}

/*
table CSS
*/
#attrTableDiv {
	width: 1280px;
	display: block;
	margin: 0 auto 0 auto;
}

#attrTable {
	text-align: center;
	font-size: 1.5em;
	border-spacing: 20px;
	font-family: Futura;
	display: inline-block;
}
.attr {
	text-align: right;
	font-variant: small-caps;
}